
<td>{{contact.id}}</td>

  {{#if isEditing}}
    {{view App.EditContactView}}
  {{else}}

   <td class="data"> {{contact.fullName}}</td>
    

<td class="data">{{contact.favorite_color}}</td> 
<td class="data">{{contact.pet_name}}</td>

    <td>  <a href="#" {{action "showEdit"}}>Edit</a>
    |  <a href="#" {{action "destroyRecord"}}>Remove</a> </td>

{{/if}}
